p { color:deepskyblue; font: size 50px; /* Tamanho da letra */
    background-color: rgba(0, 0, 0, 0.541);
font-family: Verdana, Geneva, Tahoma, sans-serif;/* Fonte das Letras */
font-weight: 700 
/* Altera o peso da Fonte, quanto menor mais fina, quanto maior o numero mais grossa  * basicamente o negrito/; */
 
#Sobrenome{ color

} /* Para adicionar o ID seleciona o # mais o nome do ID */

.texto { color: blue;

}
